* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	margin:1rem;
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

header{	
	display:flex;
	align-items:center;
}

#img-logo{
	max-width: 100px;
	max-height:100px;
}

#img-logo:hover{
	transform:rotate(15deg)
}

#title{
	font-family:Raleway,sans-serif;
	font-weight:600;
	margin-left:2rem;
	margin-right:auto;
	white-space: nowrap;
}

aside{
	font-size:0.9rem;
	align-items: flex-end;
	padding:0.5rem;
}

aside:hover{
	background-color:#46BE13;
	color:white;
	/*	font-size:1rem;*/
	border-radius:25px;
	/*	transition-duration: 1s;*/
	transition-timing-function: ease-in;
	transition-property: all;
}

a{
	color:white;
	text-decoration: none;
}

a:hover{
	color:#46BE13;
	font-weight: 600;
}

a:visited{
	text-decoration: none;
}

nav{
	background-color:#301F00;
	text-align: center;
	margin-top:0.5em;
	white-space: nowrap;
}

.menu-container{
	display:inline-block;
	background-color:#301F00;
	width:24.5%;
}

main{
	text-align: center;
	margin-top:1rem;
}

figure{
	background-color:black;
	margin:0% 15%;
}

.home-image{
	max-width:85%;
}

footer{
	position:fixed;
	background-color:black;
	color:white;
	text-align: center;
	left:0;
	right:0;
	bottom:0;
	padding: 0.2rem 0;
}

.social-media{
	display:inline-flex;
	color:white;
	margin:0.2em 0.5em;
}

i:hover{
	color:#46BE13;
}