* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	margin:1rem;
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

header{	
	display:flex;
	align-items:center;
}

#img-logo{
	max-width: 100px;
	max-height:100px;
}

#img-logo:hover{
	transform:rotate(15deg)
}

#title{
	font-family:Raleway,sans-serif;
	font-weight:600;
	margin-left:2rem;
	margin-right:auto;
	white-space: nowrap;
}

aside{
	font-size:0.9rem;
	align-items: flex-end;
	padding:0.5rem;
}

aside:hover{
	background-color:#46BE13;
	color:white;
	/*	font-size:1rem;*/
	border-radius:25px;
	/*	transition-duration: 1s;*/
	transition-timing-function: ease-in;
	transition-property: all;
}

a{
	color:white;
	text-decoration: none;
}

a:hover{
	color:#46BE13;
	font-weight: 600;
}

a:visited{
	text-decoration: none;
}

nav{
	background-color:#301F00;
	text-align: center;
	margin-top:0.5em;
	white-space: nowrap;
}

.menu-container{
	display:inline-block;
	background-color:#301F00;
	width:24.5%;
}

main{
	text-align: center;
	margin-top:1rem;
}

figure{
/*	background-color:black;*/
}

#slideshow {
	overflow: hidden;
	width: 730px;
	margin: 0 auto;
	padding-top:20px;
}

.slide-wrapper {
	width: 2912px;
	animation: slide 20s ease infinite;
}

.slide {
	float: left;
	height: 510px;
	width: 728px;
}

@-webkit-keyframes slide {
	20% {margin-left: 0px;}
	30% {margin-left: -728px;}
	50% {margin-left: -728px;}
	60% {margin-left: -1456px;}
	70% {margin-left: -1456px;}
	80% {margin-left: -2184px;}
	90% {margin-left: -2184px;}
}

.home-image{
	max-width:90%;
	border-radius:10px;
}

footer{
	position:fixed;
	background-color:black;
	color:white;
	text-align: center;
	left:0;
	right:0;
	bottom:0;
	padding: 0.2rem 0;
}

.social-media{
	display:inline-flex;
	color:white;
	margin:0.2em 0.5em;
}

i:hover{
	color:#46BE13;
}